
/* COGS3 studyBuddy specific styles go here. */
#title {
    background-color: #D6B588;
}

#title .row {
    display: flex;
    align-items: center;
}

#title .col-lg-6 {
    text-align: center;
}

.title-image {
    width: 100%;
    max-width: 400px;
    margin: auto;
    transform: rotate(20deg);
}

h1 {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-size: 4rem;
  line-height: 1.5;
}

.navbar {
    padding: 0 0 4.5rem 0;
    font-family: 'Courier New', Courier, monospace;
}

.nav-item {
    padding: 10px 10px;
}

.nav-link {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
    font-weight: bold;
}

.download-button {
    margin: 2% 2% 2% 2%;
}

.navbar-brand {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
    text-align: center;
}

#features {
    padding: 0;
    margin-top: -150px;
    text-align: center;
    background-color: beige;
    position: relative;
    z-index: 1;
}

#features .col-lg-4 {
    padding: 5%; 
}

#features h3 {
    font-family: Georgia, serif;
    font-weight: bold; 
}

#features p {
    font-family: Georgia, serif;
    color: darkgreen;
}

.thumbs-icon {
    margin-bottom: .5rem;
    size: 25px;
}

.books-icon {
    margin-bottom: .5rem;
    size: 25px;
}

.percent-icon {
    margin-bottom: .5rem;
    size: 25px;
}

.thumbs-icon:hover {
    color: red;
}

.books-icon:hover {
    color: lightgreen;
}

.percent-icon:hover {
    color: darkgreen;
}

#testimonials {
    padding: 7% 15%;
    text-align: center;
    background-color: #D6B588;
}

#testimonials h2 {
    font-family: Georgia, serif;
    font-weight: bold; 
}

.testimonials-image {
    width: 20%;
    border-radius: 50%;
    margin: 10px;
}

#press {
    background-color: beige;
    text-align: center;
    padding: 50px 0;
}

.press-logo {
    width: 100%;
    max-width: 150px;
    margin: 20px auto;
    display: block;
    transition: transform 0.3s ease-in-out;
}


@media (max-width: 768px) {
    .press-logo {
        max-width: 120px;
    }
}

@media (max-width: 576px) {
    .press-logo {
        max-width: 100px;
    }
}

#pricing {
    padding: 100px;
    background-color: beige;
    text-align: center;
}

.pricing-title h2{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold; 
    text-align: center;
}

.pricing-title {
    font-family: 'Courier New', Courier, monospace;
}

.card-link {
    font-family: Georgia, serif;
    font-weight: bold;
    text-align: center;
    color: black;
}

.card {
    background-color: #D6B588;
    text-align: center;
}

.btn-custom {
    background-color: beige;
    color: black;
    border: none;
    text-decoration: none;
  }

  @media (max-width: 900px) {
    h1 {
        font-family: 'Courier New', Courier, monospace;
        font-size: 1.5rem;
    }
  }


  @media (max-width: 1028px) {
    #title {
        text-align: center;
    }

    .title-image {
        position: static;
        transform: rotate(0);
    }
  }

  #footer {
    font-family: Georgia, serif;
    font-weight: bold;
    background-color: beige;
    text-align: center;
  }

  #cta {
    background-color: #D6B588;
    color: black;
    padding: 7% 15%;
    text-align: center;
  }
  
  .cta-heading {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 3.5rem;
    line-height: 1.5;
  }
