
/* COGS3 studyBuddy specific styles go here. */
#title {
    background-color: #D6B588;
}

#title .row {
    display: flex;
    align-items: center;
}

#title .col-lg-6 {
    text-align: center;
}

.title-image {
    width: 100%;
    max-width: 400px;
    margin: auto;
    transform: rotate(5deg);
    z-index: -1;
}

h1 {
  font-family: Georgia, serif;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.5;
}

.navbar {
    padding: 0 0 4.5rem 0;
}

.nav-item {
    padding: 10px 10px;
}

.nav-link {
    font-family:Georgia, serif;
    font-size: 2rem;
    font-weight: bold;
}

.download-button {
    margin: 2% 2% 2% 2%;
}

.navbar-brand {
    font-family: Georgia, serif;
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
    text-align: center;
}

#features {
    padding: 35px;
    text-align: center;
    background-color: beige;
    position: relative;
    z-index: 5;
}

#features .col-lg-4 {
    padding: 5%; 
}

#features h3 {
    font-family: Georgia, serif;
    font-weight: bold; 
}

#features p {
    font-family: Georgia, serif;
    color: darkgreen;
}

.heart-icon {
    margin-bottom: .5rem;
    size: 25px;
}

.target-icon {
    margin-bottom: .5rem;
    size: 25px;
}

.check-icon {
    margin-bottom: .5rem;
    size: 25px;
}

.heart-icon:hover {
    color: red;
}

.target-icon:hover {
    color: lightgreen;
}

.check-icon:hover {
    color: darkgreen;
}

#testimonials {
    padding: 7% 15%;
    text-align: center;
    background-color: beige;
}

#testimonials h2 {
    font-family: Georgia, serif;
    font-weight: bold; 
}

.testimonials-image {
    width: 20%;
    border-radius: 50%;
    margin: 10px;
}

#press {
    background-color: beige;
    text-align: center;
}

.press-logo {
    width: 25%;
    margin: 40px;
}

#pricing {
    padding: 100px;
    background-color: beige;
    text-align: center;
}

.pricing-title {
    font-family: Georgia, serif;
    font-weight: bold; 
    text-align: center;
}

.card-link {
    font-family: Georgia, serif;
    font-weight: bold;
    text-align: center;
}

.card {
    background-color: #D6B588;
    text-align: center;
}